################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS221-proj/v15/.suo
tagged_quotes.csv
/popular_quotes_clean/model-50.hdf5
/popular_quotes_clean/model-49.hdf5
/popular_quotes_clean/model-48.hdf5
/popular_quotes_clean/model-47.hdf5
/popular_quotes_clean/model-46.hdf5
/popular_quotes_clean/model-45.hdf5
/popular_quotes_clean/model-44.hdf5
/popular_quotes_clean/model-43.hdf5
/popular_quotes_clean/model-42.hdf5
/popular_quotes_clean/model-41.hdf5
/popular_quotes_clean/model-40.hdf5
/popular_quotes_clean/model-39.hdf5
/popular_quotes_clean/model-38.hdf5
/popular_quotes_clean/model-37.hdf5
/popular_quotes_clean/model-36.hdf5
/popular_quotes_clean/model-35.hdf5
/popular_quotes_clean/model-34.hdf5
/popular_quotes_clean/model-33.hdf5
/popular_quotes_clean/model-32.hdf5
/popular_quotes_clean/model-31.hdf5
/popular_quotes_clean/model-30.hdf5
/popular_quotes_clean/model-29.hdf5
/popular_quotes_clean/model-28.hdf5
/popular_quotes_clean/model-27.hdf5
/popular_quotes_clean/model-26.hdf5
/popular_quotes_clean/model-25.hdf5
/popular_quotes_clean/model-24.hdf5
/popular_quotes_clean/model-23.hdf5
/popular_quotes_clean/model-22.hdf5
/popular_quotes_clean/model-21.hdf5
/popular_quotes_clean/model-20.hdf5
/popular_quotes_clean/model-19.hdf5
/popular_quotes_clean/model-18.hdf5
/popular_quotes_clean/model-17.hdf5
/popular_quotes_clean/model-16.hdf5
/popular_quotes_clean/model-15.hdf5
/popular_quotes_clean/model-14.hdf5
/popular_quotes_clean/model-13.hdf5
/popular_quotes_clean/model-12.hdf5
/popular_quotes_clean/model-11.hdf5
/popular_quotes_clean/model-10.hdf5
/popular_quotes_clean/model-09.hdf5
/popular_quotes_clean/model-08.hdf5
/popular_quotes_clean/model-07.hdf5
/popular_quotes_clean/model-06.hdf5
/popular_quotes_clean/model-05.hdf5
/popular_quotes_clean/model-04.hdf5
/popular_quotes_clean/model-03.hdf5
/popular_quotes_clean/model-02.hdf5
/popular_quotes_clean/model-01.hdf5
/__pycache__
/popular_quotes_embed.hdf5
glove.6B.300d.txt
glove.6B.200d.txt
glove.6B.100d.txt
glove.6B.50d.txt
